@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', 'Lato';
}

body {
  overflow-x: hidden;
}

/* ANIMASI */
/* Banner Background */
@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

.shape {
  @apply absolute bottom-0 bg-white bg-opacity-70 rounded-md;
  animation: moveUp 5s linear infinite;
  -webkit-animation: moveUp 5s linear infinite;
}

.shape:nth-child(1) {
  width: 50px;
  height: 50px;
  left: 10%;
}

.shape:nth-child(2) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.shape:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.shape:nth-child(4) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-duration: 8s;
  animation-delay: 3s;
}

.shape:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 80%;
  animation-duration: 9s;
  animation-delay: 4s;
}

.shape:nth-child(6) {
  width: 50px;
  height: 50px;
  left: 70%;
  animation-duration: 9s;
  animation-delay: 4s;
}